Thumbs.db *
.DS_Store
ПОМОЩЬ.мд
.степень
построить /

# ## СТС ###
.apt_generated
.класспуть
.фабричный путь
.проект
.настройки
.springBeans
.sts4-кэш

# ## ИДЕЯ IntelliJ ###
.идея
* .iws
* .ИМЛ
* .ипр
вне /

# ## NetBeans ###
/ nbproject / частный /
/ nbbuild /
/ расстояние /
/ nbdist /
/.nb-градле/ _ _

# ## Код VS ###
.vscode /

# ## Файлы пакетов ###
* .jar
* .война
* .нар
* .ухо
* .zip
* .tar.gz
* .rar

# ## Исключения ###
! gradle / обертка / gradle-wrapper.jar
! ** / источник / основной / **
! ** / источник / тест / **